
    <h1>
      <%= @the_board.name %>
    </h1>

    <div>
      <div>
        <a href="/boards">
          Go back
        </a>
      </div>
    </div>

<hr>


<h2>
  Add a new post
</h2>

<form action="/insert_post"  method="post" >
  <div>
    <label for="post_title_box">
      Title
    </label>

    <input type="text" id="post_title_box" name="query_title">
  </div>

  <div>
    <label for="post_body_box">
      Body
    </label>

    <input type="text" id="post_body_box" name="query_body">
  </div>

  <div>
    <label for="post_expires_on_box">
      Expires on
    </label>

    <input type="date" id="post_expires_on_box" name="query_expires_on">
  </div>

  <div>
    <label for="post_board_id">
      Board ID
    </label>

    <input type="text" id="post_board_id" name="query_board_id">
  </div>

  <button>
    Add post
  </button>
</form>


<hr>


<h2>
Active posts
</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>

  <% matching_posts = Post.where({ :board_id => @the_board.id })%>
  <% matching_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at %></td>
      <td><%= a_post.expires_on %></td>
    <tr>
  <% end %>
</table>
